h2 {
	line-height: 150%;
	vertical-align: top;
	font-weight: bold;
}

a {
	color: #404080;
}

div {
	text-align: center;
}

div.container-fluid {
	width: 600px;
	padding-left: auto;
	padding-right: auto;
}

div.col-sm-8 {
	float: left;
	clear: both;
	width: 800px;
	padding: 0px 0px;
	margin: 0 auto;
}

div.col-sm-6 {
	float: left;
	width: 500px;
	padding: 0px 0px;
	margin: 0 auto;
}

div.col-sm-1,
div.col-sm-1 div {
	float: left;
	margin: 0 auto;
	padding: 0px 0px;
}

div.col-sm-1 {
	padding: 25px 0px 0px 10px;
}

div.shiny-input-container,
input.shiny-bound-input {
	width: 500px;
}

div#ngram_html {
	float: left;
	clear: both;
}

.btn-primary {
	background-color: #404080;
}

div#lhs {
	float: left;
	margin: 0px;
}

div#rhs {
	float: left;
	margin: 0px;
}

span.ngram {
	float: left;
	clear: none;
	margin: 0px 5px 5px 0px;
	padding: 0px 10px;
	font-size: 14pt;
	font-weight: bold;
	border: 5px solid #B0B0B0;
}

span.predict {
	clear: both;
	float: left;
	margin: 0px 0px 5px;
	padding: 0px 10px;
	font-size: 14pt;
	font-weight: bold;
}

span.predict_one {
	border: 5px solid #404080;
}

span.predict_two {
	border: 5px solid #A0A0D0;
}

span.predict_three {
	border: 5px solid #A0A0D0;
}

span#error {
	float: left;
	clear: both;
	margin: 0px 0px 5px;
	padding: 0px 10px;
	font-size: 14pt;
	font-weight: bold;
	border: 5px solid #B00000;
}
